
.bookshelfDiv {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.formDiv, .bookCardsDiv {
  width: 45%;
}

.bookCard {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
}
